html {
    font-family: 'Pacifico', cursive;
}

header{
    height: 100px;
    background: black;
    padding: 20px 50px;
}

body{
    background: rgb(224, 223, 223);
}

.logo, .search{
    height: 60px;
    background: white;
}

.logo{
    width: 20%;
    float: left;

}

.search{
    width: 40%;
    float: right;
}

.main{
    height: 300px;
    width: 600px;
    background: black;
    margin: 100px auto;
}

.lin1{
    height: 110px;
    width: 70%;
    background: white;
    margin: auto;
    
}
